<div class="container">
    <div class="text-center">
        <div class="row">
            <h3>SOLUCIONES CORPORATIVAS</h3>
        </div>

        <div class="row">
            <h6>Dilemas</h6>
        </div>

        <div class="row col-md-offset-3 col-md-6 col-md-offset-3">

            <div>
                <input type="text" placeholder="Ingresa Tu Dilema" ng-model="dilema.ingresar">
            </div>
            <div>
                <input type="text" placeholder="Usuario" ng-model="dilema.usuario">
            </div>

            <button type="buttom" ng-click="addDilema()">Agregar Dilema</button>
        </div>


        <div>
            <h4>Dilemas Ingresados</h4>
            <span>
                {{dilema.ingresar}}
            </span>
            <span>
                {{dilema.usuario}}
            </span>
        </div>

        <div>
            <table>
                <tr>
                    <td class="text-center text-danger">Dilema </td>
                    <td>Usuario</td>
                </tr>

                <tr ng-repeat="item in dilemas">
                    <td>{{item.dilema}}</td>
                    <td>{{item.usuario}}</td>
                </tr>

            </table>
        </div>
    </div>
</div>