<div class="container">
    <div class="text-center">
        <div class="row">
            <h3>SOLUCIONES COOPERATIVAS</h3>
        </div>

        <div class="row">
            <h6>Dilemas Ingresados por los Usuarios</h6>
        </div>

        <div class="row col-md-offset-3 col-md-6 col-md-offset-3">
            <table class="table table-striped col-md-6">
                <thead>
                <tr>
                    <th class="text-center">Usuario</th>
                    <th class="text-center">Titulo</th>
                    <th class="text-center">Fecha</th>
                    <th class="text-center"></th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="dilemma in dilemmas">
                    <td class="text-center">{{dilemma.nick_user}}</td>
                    <td class="text-center">{{dilemma.title}}</td>
                    <td class="text-center">{{dilemma.date | date:'yyyy/MM/dd'}}</td>
                    <td>
                        <a href="" ng-click="seeDilemma(dilemma)">
                            Ver detalles
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


        <!-- Modal See Details from Dilemma-->
        <div class="modal fade" id="seeDilemma" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title text-center">Dilema: {{currentDilemma.title}}</h4>
                    </div>
                    <div class="modal-body">

                        <h4><strong>Creador:</strong> {{currentDilemma.nick_user}}</h4>
                        <h4><strong>Fecha de creación:</strong> {{currentDilemma.date}}</h4>
                        <hr>
                        <h4><strong>Descripción:</strong> {{currentDilemma.description}}</h4>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-lg btn-block btn-mzc" ng-click="aprobeDilemma()">Aprobar</button>
                        <button type="button" class="btn-lg btn-block btn-mzc" ng-click="refuseDilemma()">Rechazar</button>
                        <button type="button" class="btn-lg btn-block btn-mzc" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal See Details from Dilemma-->
        <div class="modal fade" id="changeDilemma" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title text-center">Dilema: {{currentDilemma.title}}</h4>
                    </div>
                    <div class="modal-body">
                        <h4>Escribe el motivo por el cuál estás rechanzado el Dilema:</h4>
                        <textarea type="text" class="form-control" placeholder="Motivo del rechazo" required autofocus
                                  ng-model="reason"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-lg btn-block btn-mzc" ng-click="refuse()">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>