<div class="container">
    <div class="text-center">
        <div class="row">
            <h3>SECCIÓN PARA RECORDATORIOS Y/O TAREAS</h3>
        </div>

        <div class="row col-md-offset-3 col-md-6 col-md-offset-3">
            <table class="table table-striped col-md-6">
                <thead>
                <tr>
                    <th class="text-center">Usuario</th>
                    <th class="text-center">Recordatorio</th>
                    <th class="text-center">Fecha de activación</th>
                    <th class="text-center">Frecuencia</th>
                    <th class="text-center"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="reminder in allReminders">
                    <td class="text-center">{{splitUser(reminder.user)}}</td>
                    <td class="text-center">
                        <a href="" ng-click="seeReminder(reminder)">
                            {{reminder.title}}
                        </a>
                    </td>
                    <td class="text-center">{{reminder.date | date:'yyyy/MM/dd'}}</td>
                    <td class="text-center">{{reminder.frequency}}</td>
                    <td>
                        <a href="" ng-click="deleteReminder(reminder)">
                            <i class="fa fa-remove"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="row col-md-offset-5 col-md-2 col-md-offset-5">
            <button type="button" class="btn-lg btn-block btn-mzc" data-toggle="modal"
                    data-target="#newReminder">Nuevo Recordatorio</button>
        </div>
    </div>

    <!-- Modal Add new Reminder-->
    <div class="modal fade" id="newReminder" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Agregar nuevo recordatorio</h4>
                </div>
                <div class="modal-body">
                    <label for="title">Título</label>
                    <input type="text" class="form-control" placeholder="Título recordatorio" required autofocus
                           ng-model="title" id="title">

                    <label for="subtitle">Subtítulo</label>
                    <input type="text" class="form-control" placeholder="Subtítulo recordatorio" required autofocus
                           ng-model="subtitle" id="subtitle">

                    <label for="description">Descripción</label>
                    <textarea type="text" class="form-control" placeholder="Descripción recordatorio" required autofocus
                           ng-model="description" id="description"/>

                    <label for="date">Fecha</label>
                    <input type="date" class="form-control" ng-model="date" id="date">

                    <br>
                    <label for="hourId">Hora</label>
                    <select ng-model="hourId" id="hourId">
                        <option ng-repeat="hour in hours" value="{{hour.value}}">{{hour.name}}</option>
                    </select>

                    <label for="minutesId">Minutos</label>
                    <select ng-model="minutesId" id="minutesId">
                        <option ng-repeat="minute in minutes" value="{{minute.value}}">{{minute.name}}</option>
                    </select>

                    <label for="frequency">Frecuencia</label>
                    <select ng-model="frequency" id="frequency">
                        <option ng-repeat="fr in frequencies" value="{{fr.value}}">{{fr.name}}</option>
                    </select>

                    <br>
                    <label>Aplicar para todos los usuarios:
                        <input type="checkbox" ng-model="allUsers">
                    </label>

                    <div ng-show="!allUsers">
                        <label for="userId">Usuario</label>
                        <select ng-model="userId" id="userId">
                            <option ng-repeat="user in users" value="{{user.username}}">{{user.username}}</option>
                        </select>
                    </div>

                    <br>
                    <label>Permitir registrar observaciones:
                        <input type="checkbox" ng-model="observationsEnabled">
                    </label>

                    <hr>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-lg btn-block btn-mzc" ng-click="saveReminder()">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal See Reminder details-->
    <div class="modal fade" id="seeReminder" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">Recordatorio: {{currentReminder.title}}</h4>
                </div>
                <div class="modal-body">

                    <h5><strong>Subtítulo: </strong>{{currentReminder.subtitle}}</h5>
                    <h5><strong>Descripción: </strong>{{currentReminder.description}}</h5>
                    <h5><strong>Fecha: </strong>{{currentReminder.date}}</h5>
                    <h5><strong>Hora: </strong>{{currentReminder.time}}</h5>
                    <h5><strong>Frecuencia: </strong>{{currentReminder.frequency}}</h5>
                    <h5><strong>Usuario: </strong>{{splitUser(currentReminder.user)}}</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-lg btn-block btn-mzc" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

</div>