<div class="container">
    <div class="text-center">
        <div class="row">
            <h4>
                <span style="color:#d05821;">My Zen Coach</span> es una
                aplicación corporativa para fomentar la comunicación interna y colaborativa
            </h4>
            <h4>
                y para
                proporcionar a los empleados herramientas de bienestar y mindfulness,
            </h4>
            <h4>
                así como otras
                ventajas que potencien la retención del talento
            </h4>
        </div>
    </div>
</div>