<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Inicia sesión para continuar</h1>
            <div class="account-wall">
                <form class="form-signin">
                    <input type="text" class="form-control" placeholder="Username" required autofocus
                        ng-model="username">
                    <input type="password" class="form-control" placeholder="Password" required
                        ng-model="password">

                    <a href="#/forgot">
                        ¿Olvidaste tu password?
                    </a>

                    <button class="btn btn-lg btn-block btn-mzc" type="submit" ng-click="login()">
                        Login</button>
                    <h4>¿No tienes cuenta?</h4>
                    <button class="btn btn-lg btn-block btn-mzc" type="submit" ng-click="goSignUp()">
                        Registrarme</button>
                </form>
            </div>
        </div>
    </div>
</div>